src/CustomerManagementService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/customermanagement" name="CustomerManagementServiceJaxWs" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://infosys.tuwien.ac.at/aic10/ass1/dto/customermanagement" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://infosys.tuwien.ac.at/aic10/ass1/dto/customermanagement" schemaLocation="CustomerManagementService.xsd"/>
    </xsd:schema>
  </types>
  <message name="notify_customer">
    <part name="parameters" element="tns:notify_customer"/>
  </message>
  <message name="notify_customerResponse">
    <part name="parameters" element="tns:notify_customerResponse"/>
  </message>
  <message name="create_customer">
    <part name="parameters" element="tns:create_customer"/>
  </message>
  <message name="create_customerResponse">
    <part name="parameters" element="tns:create_customerResponse"/>
  </message>
  <message name="delete_customer">
    <part name="parameters" element="tns:delete_customer"/>
  </message>
  <message name="delete_customerResponse">
    <part name="parameters" element="tns:delete_customerResponse"/>
  </message>
  <message name="get_customer">
    <part name="parameters" element="tns:get_customer"/>
  </message>
  <message name="get_customerResponse">
    <part name="parameters" element="tns:get_customerResponse"/>
  </message>
  <message name="update_account">
    <part name="parameters" element="tns:update_account"/>
  </message>
  <message name="update_accountResponse">
    <part name="parameters" element="tns:update_accountResponse"/>
  </message>
  <message name="update_customer">
    <part name="parameters" element="tns:update_customer"/>
  </message>
  <message name="update_customerResponse">
    <part name="parameters" element="tns:update_customerResponse"/>
  </message>
  <portType name="CustomerManagement">
    <operation name="notify_customer">
      <input message="tns:notify_customer"/>
      <output message="tns:notify_customerResponse"/>
    </operation>
    <operation name="create_customer">
      <input message="tns:create_customer"/>
      <output message="tns:create_customerResponse"/>
    </operation>
    <operation name="delete_customer">
      <input message="tns:delete_customer"/>
      <output message="tns:delete_customerResponse"/>
    </operation>
    <operation name="get_customer">
      <input message="tns:get_customer"/>
      <output message="tns:get_customerResponse"/>
    </operation>
    <operation name="update_account">
      <input message="tns:update_account"/>
      <output message="tns:update_accountResponse"/>
    </operation>
    <operation name="update_customer">
      <input message="tns:update_customer"/>
      <output message="tns:update_customerResponse"/>
    </operation>
  </portType>
  <binding name="CustomerManagementPTBinding" type="tns:CustomerManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="notify_customer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="create_customer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete_customer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="get_customer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="update_account">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="update_customer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CustomerManagementServiceJaxWs">
    <port name="CustomerManagementPT" binding="tns:CustomerManagementPTBinding">
      <soap:address location="http://localhost:9000/customermanagement"/>
    </port>
  </service>
    <plnk:partnerLinkType name="CustomerManagementLinkType">
        <plnk:role name="CustomerManagementProvider" portType="tns:CustomerManagement"/>
    </plnk:partnerLinkType>
</definitions>



